body{
    margin: 0;
}

.HeaderRo{
    background-color: #1F2937;
    width: 100vw;
    height: 35vh;
}
.HeaderBox{
    display: flex;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    width: 75%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.HeaderText{
    font-weight: 900;
    margin-right: auto;
}

.HeaderLink{
    margin: 8px;
}

.HeroBox{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    width: 55%;
    height: 65%;
}

.HeroTextBox{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.HeroBigFont{
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    font-size: 30px;
}

.HeroSmallerFont{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    font-size: 15px;
}

.HeroButton{
    border: none;
    color: #F9FAF8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: rgb(13, 158, 248);
    border-radius: 5px;
    width: 35%;
    height:20%;
    font-size: 20px;
}

.HeroImg{
    width: 50%;
    height:100%;
}

.HeroImg img{
    width: 100%;
    height: 100%;
}

/*
HeaderRo Fin
*/

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-color: #F9FAF8;
}

.ContentInfo{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.ContentInfoText{
    color:#1F2937;
    font-size: 25px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ContentImages{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.ContentImage{
    width: 100px;
    height:100px;
    border: 3px solid rgb(32, 169, 255);
    border-radius: 7px;
}

.ContentImage img{
    width: 100%;
    height: 100%;
}

.ContentImageSubtitle{
    color: #1F2937;
    font-weight: 549;
    font-size: 11px;
}

/* Content Fin*/

.BHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: 100vw;
    height: 30vh;
}

.BHeaderTextBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
}

.BHeaderText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:#1F2937;
    font-size: 20px;
    font-weight: 500;
}

.BHeaderText2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:#1F2937;
    font-weight: 800;
    margin-left: auto;
}

/*BHeader Fin*/

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #1F2937;
}

.FooterTextBox{

}

.FooterText{
    color:#F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}