body{
    margin: 0;
}

.HeaderRo{
    background-color: #1F2937;
    width: 100vw;
    height: 30vh;
}
.HeaderBox{
    display: flex;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    width: 75%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.HeaderText{
    font-weight: 900;
    margin-right: auto;
}

.HeaderLink{
    margin: 8px;
}

.HeroBox{
    display: flex;
    align-items:center;
    margin-left:auto;
    margin-right: auto;
    width: 75%;
    height: 65%;
}

.HeroTextBox{
    background-color: red;
    width: 50%;
    height:100%;
}

.HeroBigFont{
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    font-size: 30px;
}

.HeroSmallerFont{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9FAF8;
    font-size: 15px;
}

.HeroImg{
    background-color: blue;
    width: 50%;
    height:100%;
}