body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.c1 {
    background-color: #1F2937;
    width: 100vw;
    height: 32%;
    display: flex;
    justify-content: center;
}

.c2 {
    background-color: #e0e0e0;
    width: 100vw;
    height: 60%;
}

.c3 {
    background-color: #1F2937;
    width: 100vw;
    height: 8%;
}

.HERO {
    background-color: rgb(85, 66, 66);
    display: flex;
    width: 80%;
    height: 37%;
}

.HERO span {
    color:rgb(240, 240, 240);
    align-self: center;
}

.HERO a {
    color:rgb(240, 240, 240);
    align-self: center;
}

.hlogo {
    margin-right: 20vw;
}

.hlink {
    margin: 9px;
}